*{
	box-sizing: border-box;
}

body{
	background-color: #305158;
	color: #FED701;
	font-family: ;
	padding: 0 1.5em;
}

.content{
	max-width: 1170px
	margin-left:auto;
	margin-right: auto;
	padding: 1.5em;
}

.titu{
	text-align: center;
	font-size: 3em;
}

.titu span{
	color: red;
}

.contact-wrapper{
	box-shadow: 0 0 20px 0 rgba(255, 255, 255 .3);
}